# Gitignore file for users of training modules repository
# portions derived from https://github.com/github/gitignore

# Ignore large (or linked) data and reference files for all modules

*/data/*
*/QC/*
*/index/*
# Ignore RDS results files
*/results/**/*.rds

# But we want to include the QC reports for the sample we ran
# gitignore is odd in how it checks which files to include in nested directories,
# so we have to do some odd stuff

!RNA-seq/QC/gastric-cancer
RNA-seq/QC/gastric-cancer/fastp/*
RNA-seq/QC/gastric-cancer/fastqc/*
!RNA-seq/QC/gastric-cancer/**/SRR585570

# R environment and files
.RData
.RDataTmp
.Rhistory
.Renviron
.Ruserdata
.Rproj.user/

# knitr and R markdown default cache directories and temporary files
*_cache/
/cache/
*.utf8.md
*.knit.md

# Security files
id_rsa.pub
id_rsa
id_ed*
id_ed*.pub
*.pem
*.key
secring.*

# Mac system files
.DS_Store
.AppleDouble
.LSOverride

# Windows system files
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db
*.lnk
*.stackdump
[Dd]esktop.ini

# Snakemake files
.snakemake

# mdspell files
.spelling

# File with errors if you are running locally
spell_check_errors.tsv
